.resumen {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.resume_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner_resume {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-around;
  height: 100%;
}

.total {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.inner_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 265px;
}

.pay_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00bf19;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  margin-top: 20px;
}

.pay_button:hover {
  background-color: #00ff2b;
}
